/** @format */
html {
	width: 100%;
	height: 100%;
	margin: 0%;
	padding: 0%;
}

#spray-man {
	position: fixed;
	background-size: 10em;
	background-image: url(images/Chicago_Closed_Cell_Spray_Foam_Insulation_In_Wall.jpg);
	background-color: #0ab89b;
	background-blend-mode: soft-light;
	width: 100%;
	clip-path: polygon(
		42% 0,
		35% 90%,
		40% 90%,
		45% 21%,
		97% 25%,
		96% 36%,
		56% 35%,
		52% 60%,
		100% 60%,
		100% 0
	);
	z-index: 2;
}

#snl-logo {
}

#header {
	display: grid;
	background-color: rgb(255, 255, 255);

	position: sticky;
	grid-auto-flow: column;
	width: 100%;
	margin: 0 auto;
}

#header-links {
	font-family: "Oleo Script Swash Caps", cursive;
	color: rgba(0, 0, 0, 0.685);
	font-size: 3ch;
	justify-self: right;
	align-self: end;
	padding-bottom: 10px;
	padding-right: 30px;
	text-decoration: none;
}

.box-shadow {
	display: block;

	width: 100%;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.836);
}

img {
	height: 10rem;
	width: 10rem;

	position: relative;
	z-index: -1;
}

body {
	position: relative;

	height: 100%;
	width: 100%;
	margin: 0%;
	padding: 0%;
	background-color: rgb(255, 255, 255);
	position: relative;
	background-blend-mode: luminosity;
	overflow: hidden;
}

body #content {
	display: grid;
	grid-auto-flow: column;
	gap: 20px;
	max-width: 60ch;
	font-family: "Itim", cursive;
}

@media screen and (max-width: 407px) {
	#header-links {
		font-size: 2.2ch;
	}
	body #content {
		grid-auto-flow: row;
	}
}
